{% extends "base.html" %}

{% block head %} <title class="justify-content-center" style="text-align:center;">About</title> {% endblock %}


{% block body %}
<div >
<h2 style="text-align:center;">Scratch to deployment machine learning project, Dataset from <a target=_blank href="https://www.kaggle.com/brijbhushannanda1979/bigmart-sales-data">Kaggle.com</a></h2>
<form action="{{ url_for('home')}}" class="form-group card-body" method="get" style="text-align:center;">
    <button type="submit" class="btn btn-primary">Home</button>
</form>
</div>
{% endblock %}
